cmd: ./;
server: {
    nick: KizaiBot;
    login: KizaiBot-DEV;
    port: 6667;
    host: irc.tymoon.eu;
    name: TyNET;
    join_cmd: ;
    msgdelay: 100;

    channels: {

        #test: {
            autojoin: true;
        };

        #Stevenchan: {
            autojoin: false;
        };
    };
    autoconnect: true;
    pass: ;
};